@import 'variables';

.main-logo-container {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    padding: 50px;
    background-color: black;
    z-index: -1;

    .main-text {
        font-family: 'Fjalla One', sans-serif;
        font-weight: 800;
        font-size: 40px;
        text-transform: uppercase;
        color: white;

        .you {
            color: $you-green;
        }
    }

    .blog-text {
        font-family: 'Fjalla One', sans-serif;
        font-weight: 800;
        font-size: 40px;
        text-transform: uppercase;
        color: #3A3A3A;
    }
}